@use "sass:map";
@use '../../../../styles/variables' as *;

.category-block {
  margin-bottom: 5rem;
  &:last-child {
    margin-bottom: 0;
  }

  .category-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    padding: 1.5rem 2rem;
    @include glass-effect(0.03, 0.625rem);
    border-radius: 1rem;

    .category-icon {
      font-size: 2rem;
      width: 3.5rem;
      height: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      background: rgba(map.get($tech-colors, 'angular'), 0.1);
      color: map.get($tech-colors, 'angular');
      border-radius: 0.75rem;
      flex-shrink: 0;
    }

    .header-text {
      .category-title {
        font-size: 2rem;
        font-weight: 600;
        color: $color-text-main;
        margin: 0 0 0.5rem;
      }

      .category-description {
        font-size: 1.5rem;
        color: $color-text-dim;
        margin: 0;
        line-height: 1.5;
      }
    }
  }

  .tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    align-items: stretch; 
  }
}