@use '../../../../../styles/variables' as *;

.case-studies-section {
  padding: 6rem 2.4rem;
  max-width: 800px;
  margin: 0 auto;

  .section-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: $color-text-main;
    text-align: center;
    margin-bottom: 4rem;

    @media (max-width: 480px) {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }
  }

  .projects-grid {
    display: grid;
    gap: 2rem;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(3, 20rem);
      grid-template-areas:
        'p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 p2 p2'
        'p3 p3 p3 p3 p3 p3 p4 p4 p4 p4 p4 p4'
        'p5 p5 p5 p5 p5 p5 p5 p5 p5 p5 p5 p5';
      gap: 1.5rem;
    }

    @media (max-width: 1023px) {
      display: flex;
      flex-direction: column;
    }

    tech-stack-case-study-card {
      display: contents;
    }
  }

  @media (max-width: 480px) {
    padding: 4rem 1.6rem;
  }
}
