@use '../../../../styles/variables' as *;

.stat-group {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;

  .stat-number {
    font-size: 2rem;
    font-weight: 700;
    color: map-get($tech-colors, 'angular');
  }

  .stat-label {
    font-size: 0.875rem;
    color: $color-text-muted;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
}