tech-stack-icon {
  display: block;
  width: 100%;
  height: 100%;

  .tech-icon-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}