@use '../../../styles/variables' as *;

:host {
  display: block;
  font-family: 'Inter', sans-serif;
  background: $color-bg-dark;
  color: $color-text-main;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}


.page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #0a0a0a;
  @media (max-width: 768px) {
  }
}
