.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 1.45rem;
  margin-bottom: 2rem;
  opacity: 0.8;

  .breadcrumb-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .breadcrumb-item {
    .separator {
      margin: 0 0.75rem;
      color: #666;
      user-select: none;
    }

    .current {
      color: #ccc;
      font-weight: 400;
    }
    .breadcrumb-link {
      color: #667eea;
      text-decoration: none;
      transition: all 0.3s ease;
      font-weight: 500;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
